<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="eZet.EveLib" version="3.0.0.0" targetFramework="net461" />
  <package id="eZet.EveLib.Core" version="3.0.9" targetFramework="net461" />
  <package id="eZet.EveLib.Element43" version="3.0.0" targetFramework="net461" />
  <package id="eZet.EveLib.EveAuth" version="3.0.1.0" targetFramework="net461" />
  <package id="eZet.EveLib.EveCentral" version="3.0.1" targetFramework="net461" />
  <package id="eZet.EveLib.EveCrest" version="3.4.4" targetFramework="net461" />
  <package id="eZet.EveLib.EveMarketData" version="3.0.0" targetFramework="net461" />
  <package id="eZet.EveLib.EveWho" version="3.1.0.0" targetFramework="net461" />
  <package id="eZet.EveLib.EveXml" version="3.0.9" targetFramework="net461" />
  <package id="eZet.EveLib.StaticData" version="3.0.1" targetFramework="net461" />
  <package id="eZet.EveLib.ZKillboard" version="3.0.5" targetFramework="net461" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net461" />
  <package id="FSharp.Data" version="2.4.6" targetFramework="net461" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.6" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>